*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.carousel-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 25px;
    background-color: #5a5a5a ;
}

.carousel-div{
    width: 70%;
}

.options-nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #e7e7e7;
}

.option-text{
    text-align: center;
    font-size: 20px;
    color: #0071C5;
}

.option{
    display: grid;
    cursor: pointer;
}

.icon{
    color: #555;
    font-size: 50px;
    text-align: center;
}

.about{
    padding: 0% 15%;
}

.about-text, p, li{
    color: #555;
}

h2{
    text-align: center;
    color: #0071C5; 
    font-size: 1.6rem;
    font-weight: lighter;
    margin-block: 20px;
}

.divFooter{
    padding: 0% 15%;
}

footer{
    /*box-shadow: rgb(13 14 14) 1px 1px 5px; */
    min-height:20vh;
    background-color: #e7e7e7;
    padding-block: 2%;
    display: flex;
}

.developers{
    /* display: flex;  */
    justify-content: flex-end;
    /* margin-bottom: 5%; */
}

.dev{
    display: flex; 
    align-items: center;
    min-width: 135px;
    width: 150px;
}

.warning{
    font-weight: bold;
} 

.dev-link{
    text-decoration: none;
    color: #555;
    padding-left: 5px;
    font-size: 0.8rem;
}

@media screen and (max-width:768px){
    footer{
        display: block;
    }

    .icon{
        color: #555;
        font-size: 35px;
        text-align: center;
    }
}